body{
    background-image: url(https://urosario.edu.co/sites/default/files/2022-08/collegeur_slider3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h4{
    font-style: italic;
    font-size: xx-large;
    text-decoration: underline;
}

.fa-edit{
    color: blueviolet;
}

.table{
    background-color: aliceblue;
    color:black;
}

.nav-tab .nav-link{
    background-color: white;
    border-color: blue;
}