body{
    background-image: url(https://urosario.edu.co/sites/default/files/2022-08/collegeur_slider3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.avatar{
    width: 200px;;
    height: auto;
    position:absolute;
    top: 5px;
    right: 58%;
  }

.card-1{
    background-color: black;
    color: white; 
    font-size: larger;
}

h2{
    text-align: center;
    font-style: italic;
    font-size: xx-large;
}

.input-group-text{
    border-color: black;
    background: black;
    color: white;
    border: none;
    font-size: large;
}
.form-text{
    color: red;
}

.form-control{
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid #fff;
    border-color: darkgray;
    background-color: black;
    font-size: medium;
    outline: none;
    font-size: large;
    
}


.form-select{
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0%;
    background-color:black;
}
